html {
  overflow: auto !important; // 其他地方的的样式会有 overflow: scroll; 滚动条始终显示
  min-height: 100%;
  height: auto !important;
}

// 超出body的部分的隐藏，不然 html body 等高的时候会有几个像素的滚动距离
html body {
  //zoom: 1 !important;
  overflow: hidden !important;
  font-size: 12px;
}

// 火狐滚动条
html {
  scrollbar-color: #444f77 #161E43;
  scrollbar-width: thin;
}

// webkit 内核
/*控制整个滚动条*/
::-webkit-scrollbar {
  background-color: #161E43;
  width: 8px;
  height: 8px;
}

/*滚动条中间滑动部分*/
::-webkit-scrollbar-thumb {
  background-color: #444f77;
  // border-radius: 5px;
}