html {
  overflow: auto !important; // 其他地方的的样式会有 overflow: scroll; 滚动条始终显示
  min-height: 100% !important;
  //height: auto !important;
}

// 页脚高度有溢出，导致登录页有几个像素滚动条
.footers{
  overflow: hidden;
}

// 火狐滚动条美化
html {
  scrollbar-color: #444f77 #161E43;
  scrollbar-width: thin;
}

// webkit 内核
/*控制整个滚动条*/
::-webkit-scrollbar {
  background-color: #161E43;
  width: 8px;
  height: 8px;
}

/*滚动条中间滑动部分*/
::-webkit-scrollbar-thumb {
  background-color: #444f77;
  // border-radius: 5px;
}