html,body{
    /* background: #161e43!important; */
    background: transparent!important;
}

.w-100{
    width: 100%;
}

.text-right{
    text-align: right;
}

.cursor-pointer{
    cursor: pointer;
}
html {
    /* 其他地方的的样式会有 overflow: scroll; 滚动条始终显示*/
    overflow: auto !important;
    min-height: 100% !important;
}

/* 页脚高度有溢出，导致登录页有几个像素滚动条*/
.footers{
   overflow: hidden;
}

/* 火狐滚动条美化*/
html {
   scrollbar-color: #444f77 #161E43;
   scrollbar-width: thin;
}

/* webkit 内核*/
       /*控制整个滚动条*/
::-webkit-scrollbar {
   background-color: #161E43;
   width: 8px;
   height: 8px;
}

/* 滚动条中间滑动部分*/
::-webkit-scrollbar-thumb {
    background-color: #444f77;
}
.v-btn.v-size--default{
   font-size: 14px!important;
}
.v-btn{
    font-family: "Microsoft Yahei"!important;
}

span.text-blue.font-weight-bold.font-size-base.d-none.d-lg-block.mr-1 {
    color: #ded9d9;
}

/* el-table */
.el-table {
    color: #fff;
}
.el-table tr {
    background-color: #2d3d88!important;
}
.el-table tbody tr:hover>td {
    background: #33428d !important
}

.el-table .el-table__header-wrapper {
    /*height: 40px!important;*/
    /*line-height: 40px!important;*/
}

.el-table .el-table__header-wrapper th.el-table__cell {
    background-color: #2d3d88!important;
    color: #fff;
    line-height: 40px!important;
    height: 40px!important;
}
.el-table td.el-table__cell div {
    color: #fff;
}
.el-table .el-table--border {
    border: 1px solid #314694;
}
.el-table .el-table--border::after, .el-table--group::after, .el-table::before {
    background-color: #314694!important;
}
.el-table .el-table--border .el-table__cell, .el-table__body-wrapper .el-table--border.is-scrolling-left~.el-table__fixed {
    border: 1px solid #314694!important;
}
.el-table .el-table__empty-block {
    border-top: 1px solid #314694!important;
}

.el-collapse {
    border-top: unset!important;
    border-bottom: unset!important;
}

.el-collapse .el-collapse-item__header {
    background-color: #202c62!important;
    color: #fff;
    border-bottom: 1px solid #233067;
}
.el-collapse .el-collapse-item__wrap {
    background-color: #202c62!important;
    border-bottom: unset;
}

.el-pager {
    padding-left: 0!important;
}

.el-tabs__item {
    color: #bbbaba !important;
}

.el-tabs__item.is-active {
    color: #fff!important;
}

.el-button--default {
    color: #5399fa !important;
}

::v-deep .el-divider--horizontal {
    margin-top: 14px!important;
    margin-bottom: 4px!important;
}

.el-divider__text {
    background-color: #202c62!important;
    color: #ccc!important;
}
.el-input__inner {
    color: #fff!important;
    background-color: rgba(22, 30, 67, 0.5) !important;
    border-color: rgba(0, 0, 0, 0.1) !important;
}
.el-input .el-input__count .el-input__count-inner {
    background-color: transparent!important;
}

.el-dark-input .el-input__inner, .el-dark-input .el-textarea__inner {
    color: #fff;
    background-color: rgba(22, 30, 67, 0.5) !important;
    border-color: rgba(0, 0, 0, 0.1) !important;
}
.el-dark-input .el-input__inner:focus {
    color: #495057 !important;
    background-color: #fff !important;
    border-color: #dbe7ff !important;
    outline: 0 !important;
    box-shadow: 0 0 0 0.2rem rgba(91,146,255,0.25) !important;
}

.el-form-item__content .el-input__inner{
    color: #fff;
    background-color: rgba(22, 30, 67, 0.5) !important;
    border-color: rgba(0, 0, 0, 0.1) !important;
    height: 40px;
    line-height: 40px;
}

.el-form-item__content .el-input__inner:focus {
    color: #495057 !important;
    background-color: #fff !important;
    border-color: #dbe7ff !important;
    outline: 0 !important;
    height: 40px;
    line-height: 40px;
    box-shadow: 0 0 0 0.2rem rgba(91,146,255,0.25) !important;
}
.aside {
    background-color: #161E43 !important;
    box-shadow: 3px 0px 7px #000;
}

.brand {
    background: unset !important;
}

.aside-menu {
    background: unset !important;
}

.aside-menu .menu-nav>.menu-item.menu-item-active>.menu-heading,
.aside-menu .menu-nav>.menu-item.menu-item-active>.menu-link {
    background: linear-gradient(to right, rgba(41, 56, 125, 0.95) 0%, transparent 100%) !important;
    color: #fff;
    border-radius: 4px;
}

.aside-menu .menu-nav>.menu-item>.menu-heading .menu-text,
.aside-menu .menu-nav>.menu-item>.menu-link .menu-text {
    color: #5B92FF !important;
    margin-top: 2px;
}

.aside-menu .menu-nav>.menu-item.menu-item-active>.menu-heading .menu-text,
.aside-menu .menu-nav>.menu-item.menu-item-active>.menu-link .menu-text {
    color: #fff !important;
}

.aside-menu .menu-nav>.menu-item>.menu-heading .menu-icon,
.aside-menu .menu-nav>.menu-item>.menu-link .menu-icon {
    background: rgba(91, 146, 255, 0.2) !important;
    padding: 0 5px;
    height: 24px;
    line-height: 24px;
    width: 24px;
    border-radius: 3px;
    font-size: 1.18em;
    text-align: center;
    vertical-align: middle;
    margin-right: 15px;
    color: #3699FF !important;
    flex: unset;
}

.aside-menu .menu-nav>.menu-item.menu-item-active>.menu-heading .menu-icon,
.aside-menu .menu-nav>.menu-item.menu-item-active>.menu-link .menu-icon {
    background-color: #5B92FF !important;
    color: #fff !important;
}

.card {
    background: #2d3d88 !important;
    border-radius: .25rem;
    border: unset!important;
}

.card-box {
    border: 1px solid #ECF0F3!important;
}

.card-title,
.card-title .text-dark {
    color: #fff !important;
}

.text-muted {
    color: #a8c5ff !important;
}

.btn-primary {
    background-color: #5B92FF !important;
    border: unset !important;
}

.bg-light-box {
    background: #3d6bc7 !important;
}

.card a.text-dark {
    color: #fff !important;
}

.text-date {
    color: #a8c5ff !important;
}

.wrapbox {
    margin-left: 15px;
    margin-right: 15px;
    /*background-color: #1a234f;*/
    background: radial-gradient(ellipse at center, #29387d 0%, #1a234f 100%);
    background-size: 100%;
    /*background-attachment: fixed;*/
    /*background-position: center top;*/
    border-radius: 5px;
    padding: 0px;
    height: auto;
    min-height: 100%;
    overflow: hidden;
}

.panel-bg-blue{background: #2d3d88;}

.el-cascader-node:not(.is-disabled):hover{
    color: #fff;
    background: #0087F6 !important;
}

.el-select-dropdown__item.hover, .el-select-dropdown__item:hover {
    background-color: #0087F6 !important;
    color: #fff!important;
}
.el-button--border{
    color: #fff !important;
    background-color: transparent !important;   
    border-color: #5867dd !important;
}
  
.el-button--border:hover {
    background-color: #6573e0 !important;
    border-color: #6573e0 !important;
}

.el-button--border{
    color: #fff !important;
    background-color: transparent !important;   
    border-color: #5867dd !important;
}
  
.el-button--border:hover {
    background-color: #6573e0 !important;
    border-color: #6573e0 !important;
}

.el-button--export{
    color: #fff !important;
    background-color: #16A1B8 !important;   
    border-color: #16A1B8 !important;
}
  
.el-button--export:hover {
    background-color: #16A1B8 !important;
    border-color: #16A1B8 !important;
}

.el-button--yellow{
    color: #fff !important;
    background-color: #FFAE22 !important;   
    border-color: #FFAE22 !important;
}
  
.el-button--yellow:hover {
    background-color: #FFBC48 !important;
    border-color: #FFBC48 !important;
}
.el-button--blue{
    color: #fff !important;
    background-color: #347AFF !important;   
    border-color: #347AFF !important;
}
  
.el-button--blue:hover {
    background-color: #5B92FF !important;
    border-color: #5B92FF !important;
}

.el-button--cancel{
    color: #5B92FF !important;
    border-color: #5B92FF !important;
    background-color: transparent !important;   
}
  
.el-button--cancel:hover {
    color: #fff !important;
    background-color: #5B92FF !important;
    border-color: #5B92FF !important;
}

.el-button--save{
    color: #fff !important;
    background-color: #5B92FF !important;
    border-color: #5B92FF !important; 
}
  
.el-button--save:hover {
    color: #fff !important;
    background-color: #3579ff !important;
    border-color: #2870ff !important;
}

.el-button--success {
    color: #1FC96E !important;
    border-color: #1FC96E !important;
    background-color: transparent !important;   
}

.el-button--success:hover {
    color: #fff !important;
    border-color: #1FC96E !important;
    background-color: #1FC96E !important;   
}

.el-table  {
    background-color: transparent !important;
}

.el-button--border-warning{
    color: #FFBC47 !important;
    background-color: transparent !important;
    border-color: #FFBC47 !important;
}

.el-button--border-warning:hover {
    color: #000 !important;
    background-color: #FFBC47 !important;
    border-color: #FFBC47 !important;
}

.el-form .el-form-item__label {
    color: #FFFFFF!important;
}

.el-message-box {
    background-color: #202c62!important;
    border: unset!important;
}

.el-message-box__title {
    color: #fff!important;
}
.el-message-box__message p {
    color: #fff!important;
}
.el-dark-input .el-input__inner, .el-dark-input .el-textarea__inner{
    border: none !important;
}

.el-dialog__header, .el-dialog__body, .el-dialog__footer {
    background-color: #2d3d88;
}
.el-dialog__body .label-name {
    color: #ffffff;
}
.el-dialog__title {
    color: #a8c5ff!important;
}



.table-title {
    color: #ffffff!important;
}

.popper__arrow::after {
    border-bottom-color: #2d3d88!important;
}
.el-popover {
    background-color: #2d3d88!important;
    border: 1px solid #212d66!important;
    color:#fff!important;
}
/* .el-popover {
    border: unset!important;
    color:#000!important;
}

.el-popover.el-table.el-table__header-wrapper {
    background-color: transparent!important;
}
.el-popover .el-table .el-table__header-wrapper th.el-table__cell {
    background-color: transparent!important;
}
.el-popover .el-table tr {
    background-color: transparent!important;
}
.el-popover .el-table .el-table__header-wrapper th.el-table__cell {
    color:#000!important;
}
.el-popover .el-table td.el-table__cell div {
    color:#000!important;
}
.el-popover .el-table tbody tr:hover>td {
    background: #f5f7fa !important
} */