.el-table {
    color: #fff;
}
.el-table tr {
    background-color: #2d3d88!important;
}
.el-table tbody tr:hover>td {
    background: #33428d !important
}

.el-table .el-table__header-wrapper {
    display: none;
    height: 40px!important;
    line-height: 40px!important;
}

.el-table .el-table__header-wrapper th.el-table__cell {
    background-color: #2d3d88!important;
    color: #fff;
    line-height: 40px!important;
    height: 40px!important;
}
.el-table td.el-table__cell div {
    color: #fff;
}
.el-table .el-table--border {
    border: 1px solid #314694;
}
.el-table .el-table--border::after, .el-table--group::after, .el-table::before {
    background-color: #314694!important;
}
.el-table .el-table--border .el-table__cell, .el-table__body-wrapper .el-table--border.is-scrolling-left~.el-table__fixed {
    border: 1px solid #314694!important;
}
.el-table .el-table__empty-block {
    border-top: 1px solid #314694!important;
}
