/*html, body {*/
/*    background-color: #ffffff!important;*/
/*}*/
/*.aside {*/
/*    background-color: unset!important;*/
/*}*/
.aside-menu {
    background-color: unset!important;
}
.brand {
    background-color: unset!important;
}
/*.wrapbox {*/
/*    background: #ffffff!important;*/
/*}*/
/*.aside-menu-wrapper {*/
/*    background-color: #ffffff!important;*/
/*}*/
/*.d-flex {*/
/*    background-color: #ffffff!important;*/
/*}*/
/*.card {*/
/*    background: #ffffff!important;*/
/*}*/

/*.panel-bg-blue{background: #fff;}*/
