// 背景
.theme--light.v-application{
    background-color: transparent!important;
}

// 表单
.el-table-transparent{
    background-color: transparent!important;
    color: #fff!important;

    thead th{
        color: #fff!important;
    }
}